html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
    background: $gray-lighter;
    // height: 100%;
    // position: relative;
}

* {
    @include box-sizing(border-box);
}
*:before,
*:after {
    @include box-sizing(border-box);
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}

.affix {
    top: 20px;
    width: 100%;
}

.sg-example {
    background-color: #fff;
    border: 1px solid $navbar-inverse-color;
    border-radius: 4px 4px 0 0;
    padding: 45px 15px 15px;

    &:after {
        position: absolute;
        top: 15px;
        left: 30px;
        font-size: 12px;
        font-weight: 700;
        color: #959595;
        text-transform: uppercase;
        letter-spacing: 1px;
        content: "Example";
    }
}

.sg-code {
    display: none;

    &.sg-code--active {
        display: block;
    }

    pre.prettyprint {
        border: 1px solid $navbar-inverse-color;
        border-top: none;
        border-radius: 0 0 4px 4px ;
        padding: 15px;
    }
}

.sg-example--buttons {
    position: relative;

    a {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 8px;
        font-size: 12px;
        color: #767676;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid $navbar-inverse-color;
        border-left: 1px solid $navbar-inverse-color;
        border-right: 1px solid $navbar-inverse-color;
        border-radius: 0 0 0 4px;

        &:hover {
            background-color: $gray-lighter;
        }

        &.sg-example__copy {
            right: 46px;
        }
        &.sg-example__toggle {
            border-radius: 0;
        }
    }
}
