$border-color: #aaa;
$body-color: #ddd;

body {
    background: $body-color;
}

.affix {
    top: 20px;
    width: 100%;
}


.sg-subnav { 
	ul > li > a {
        padding-left: 20px;
        color: #777;

        &:hover {
	        padding-left: 19px;
	        border-left: 1px solid #1b354c;
	        color: #1b354c;
	    }
    }
}

.sg-example {
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 4px 4px 0 0;
    padding: 45px 15px 15px;

    &:after {
        position: absolute;
        top: 15px;
        left: 30px;
        font-size: 12px;
        font-weight: 700;
        color: #959595;
        text-transform: uppercase;
        letter-spacing: 1px;
        content: "Example";
    }
}

.sg-code {
    pre.prettyprint {
        border: 1px solid $border-color;
        border-top: none;
        border-radius: 0 0 4px 4px ;
        padding: 15px;
    }
}

.sg-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid $border-color;
    border-left-width: 5px;
    border-radius: 3px;

    &.sg-callout--success {
        border-left-color: #3c763d;
    }
    &.sg-callout--warning {
        border-left-color: #8a6d3b;
    }
    &.sg-callout--danger {
        border-left-color: #a94442;
    }
}