$border-color: #aaa;
$body-color: #ddd;

body {
    background: $body-color;
    height: 100%;
    position: relative;
}

.row {
    width: 100% !important;
}

.affix {
    top: 20px;
    width: 100%;
}

.sg-subnav { 
    ul > li.active > a {
        padding-left: 18px;
        border-left: 2px solid #1b354c;
        color: #1b354c;

        &:hover {
            padding-left: 18px;
            border-left: 2px solid #1b354c;
            color: #1b354c;
        }
    }
	ul > li > a {
        padding-left: 20px;
        color: #777;

        &:hover {
	        padding-left: 19px;
	        border-left: 1px solid #1b354c;
	        color: #1b354c;
	    }
    }

    ul > li {
        ul {
            display: none;

            li {
                a {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }

        &.active {
            ul {
                display: block;
            }
        }
    }
}

.sg-example {
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 4px 4px 0 0;
    padding: 45px 15px 15px;

    &:after {
        position: absolute;
        top: 15px;
        left: 30px;
        font-size: 12px;
        font-weight: 700;
        color: #959595;
        text-transform: uppercase;
        letter-spacing: 1px;
        content: "Example";
    }
}

.sg-code {
    pre.prettyprint {
        border: 1px solid $border-color;
        border-top: none;
        border-radius: 0 0 4px 4px ;
        padding: 15px;
    }
}

.sg-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid $border-color;
    border-left-width: 5px;
    border-radius: 3px;

    &.sg-callout--success {
        border-left-color: #3c763d;
    }
    &.sg-callout--warning {
        border-left-color: #8a6d3b;
    }
    &.sg-callout--danger {
        border-left-color: #a94442;
    }

    p { 
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.sg-copy-button {
    position: relative;
    span {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 8px;
        font-size: 12px;
        color: #767676;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-radius: 0 0 0 4px;

        &:hover {
            background-color: $body-color;
        }
    }
}