/*
#Grid

Test *Test*
1. This is an ordered list.
2. Another item in this list.
3. And another item in the list.
```
var what = 23;
$('test').testFunction(what);
```

Markup: 
<div class="sg-container-fluid">
    <div class="sg-row">
        <div class="sg-col-xs-12 sg-bg-primary">
            <p>sg-col-xs-12</p>
        </div>
    </div>
    <div class="sg-row">
        <div class="sg-col-xs-11 sg-bg-success">
            <p>sg-col-xs-11</p>
        </div>
        <div class="sg-col-xs-1 sg-bg-danger">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="sg-row">
        <div class="sg-col-xs-10 sg-bg-info">
            <p>sg-col-xs-10</p>
        </div>
        <div class="sg-col-xs-2 sg-bg-primary">
            <p>sg-col-xs-2</p>
        </div>
    </div>
    <div class="sg-row">
        <div class="sg-col-xs-9 sg-bg-warning">
            <p>sg-col-xs-9</p>
        </div>
        <div class="sg-col-xs-3 sg-bg-success">
            <p>sg-col-xs-3</p>
        </div>
    </div>
    <div class="sg-row">
        <div class="sg-col-xs-8 sg-bg-info">
            <p>sg-col-xs-8</p>
        </div>
        <div class="sg-col-xs-4 sg-bg-primary">
            <p>sg-col-xs-4</p>
        </div>
    </div>
    <div class="sg-row">
        <div class="sg-col-xs-7 sg-bg-danger">
            <p>sg-col-xs-7</p>
        </div>
        <div class="sg-col-xs-5 sg-bg-warning">
            <p>sg-col-xs-5</p>
        </div>
    </div>
    <div class="sg-row">
        <div class="sg-col-xs-6 sg-bg-success">
            <p>sg-col-xs-6</p>
        </div>
        <div class="sg-col-xs-6 sg-bg-primary">
            <p>sg-col-xs-6</p>
        </div>
    </div>
</div>

$screen-sm-min - @media min-width
$container-sm - @media min-width
$screen-md-min - @media min-width
$container-md - @media min-width
$screen-lg-min - @media min-width
$container-lg - @media min-width

Styleguide 1.1
*/
.sg-container {
    @include container-fixed;

    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
}

.sg-container-fluid {
    @include container-fixed;
}

.sg-row {
    @include make-row;
    margin-bottom: 24px;
}

@include make-grid-columns;

@include make-grid(xs);

@media (min-width: $screen-sm-min) {
    @include make-grid(sm);
}

@media (min-width: $screen-md-min) {
    @include make-grid(md);
}

@media (min-width: $screen-lg-min) {
    @include make-grid(lg);
}
